.buildlog
pubspec.lock

getQotd/css/*
getQotd/build/*
getQotd/packages/*
getQotd/web/fonts/*
getQotd/web/css/*

getWeather/css/*
getWeather/build/*
getWeather/packages/*
getWeather/web/fonts/*
getWeather/web/css/*

getWidget/css/*
getWidget/build/*
getWidget/packages/*
getWidget/web/fonts/*
getWidget/web/css/*

